/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --text-color-black: #0B0223;
    --text-color-light-black: #3C354F;
    --text-color-gray: #534C64;
    --gradient-blue: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --gradient-red: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.text-gradient-red {
    background: -webkit-linear-gradient(#FF42A5, #FF42A5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-blue {
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.btn {
    border-radius: 3rem;
    padding: 1.25rem 2.5rem;    
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;     
    border: 0;
}
.h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color-black);
}
.p-text {
    color: var(--text-color-gray);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */     
}
.cap-text {
    color: var(--text-color-gray);
    font-size: 1.25rem;
    font-weight: 500;
}
.hide {
    display: none;
}



/* nav */
nav {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}
.menu {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.legend {
    display: flex;
    align-items: center;
}
.legend img {
    width: 86px;
    height: 40px;
}
.legend div:nth-child(2) {
    font-size: 2.75rem;
    font-weight: 700;
    margin-left: 15px;
}
.menu-content {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
}
.menu-content div ul {
    display: flex;
    color: var(--text-color-light-black);
    align-items: center;
}
.menu-feature li {
    margin-right: 2rem;
}
.menu-links {
    padding: 17px 24px;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
}




/* banner */
.banner {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
}
.banner-title {
    display: flex;
    height: 60vh;
    width: 50vw;
    min-height: 400px;
    align-items: center;
    background-image: url("/images/Group14.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-title > div {
    padding-left: 15vw;
}
.bt-first {
    color: var(--text-color-black);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.bt-second {
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;    
    margin-bottom: 1.5rem;
}
.bt-third, .bt-fourth, .bt-fifth {
    display: flex;
    margin-bottom: 1rem;
    text-align: center;
}
.banner-title img {
    margin-right: 0.7rem;
}
.bt-sixth {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
#btnSignIn {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
#btnRogue {
    background-color: #4EC5F7;
}
.banner-img {
    display: flex;
    height: 60vh;
    width: 50vw;
    min-height: 400px;
    justify-content: flex-end;
    margin-right: 15vw;
}
.banner-img img {
    height: 60vh;
    min-height: 400px;
}



/* gamer */
.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    min-height: 500px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-img {
    width: 35vw;
}
.gamer-img img {
    width: 100%;
}
.gamer-content {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1.5rem;
    width: 35vw;
}
.gamer-fourth {
    color: var(--text-color-gray);
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.75rem; /* 187.5% */    
}
.gamer-fourth p:last-child {
    color: var(--text-color-gray);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.75rem; 
}
#btnKnowMore {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
 


/* online */
.online-title {
    text-align: center;
    margin-top: 7.5rem;
}
.online-title > p {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.online-content {
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.online-content .box {
    width: 340px;
}
.online-content .box img {
    width: 100%;
    margin-bottom: 1rem;
}


/* instant */
.instant {
    display: flex;
    justify-content: space-between;
    margin: 120px 15vw 120px 15vw;
}
.instant-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
.ic-heading {
    /* width: 400px; */
    text-align: right;
}
.ic-text {
    text-align: right;
    margin-top: 1.5rem;
    /* position: relative;
    right: -45px; */
}
.instant-img-container {
    width: 40vw;
    display: flex;
    justify-content: flex-end;
}
#bigImage {
    width: 434px;
    position: relative;
}
#bigImage img {
    width: 100%;
} 
#littleImage {
    width: 218px;
    position: absolute;
    top: 240px;
    left: -60px;
}
#littleImage img {
    width: 100%;
}



/* icons */
.icons-section {
    margin-top: 120px;
    padding: 100px 10vw;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    place-items: center;
    justify-content: center;
    align-content: center;
}
.icon-container {
    display: flex;
    align-items: center;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
}
.icon-image {
    height: 50px;
    width: 50px;
    margin: 10px;
}
.icon-image img {
    height: 100%;
    width: 100%;
}



/* footer */
.footer {
    background: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
.footer .legend {
    color: white;
}
.foo-menu {
    width: 800px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 10px;
}
.foo-icons {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}
.foo-ico-box {
    height: 40px;
}
.foo-ico-box img {
    height: 100%;
}
.foo-condition {
    width: 688px;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;
}
.foo-copy {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;
}







