@media screen and (max-width: 576px) {
    .btn {
        padding: 0.5rem 1.5rem;    
        font-size: .75rem;
        font-weight: 500;
    }
    .h1 {
        font-size: 2rem;
    }
    .p-text {
        font-size: 0.75rem;
    }
    .cap-text {
        font-size: 0.8rem;
        font-weight: 400;
    }



    /* nav */
    .menu {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    .legend img {
        width: 66px;
        height: 30px;
    }
    .legend div:nth-child(2) {
        font-size: 2rem;
    }
    .menu-content {
        flex-direction: column;
    }
    .menu-feature {
        margin: 20px 0;
    }
    .menu-feature li {
        margin-right: 0;
    }
    .menu-feature ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .menu-links {
        padding: 10px 15px;
    }


    /* banner */
    .banner {
        flex-direction: column-reverse;
    }
    .banner-title {
        height: 400px;
        width: 100vw;
        min-height: 400px;
        align-items: center;
        justify-content: center;
        background-image: url("/images/Group14.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-title > div {
        padding-left: 0;
    }
    .bt-first {
        font-size: 2rem;
        font-weight: 600;
    }
    .bt-second {
        font-size: 3rem;
        font-weight: 800;
    }
    .bt-third, .bt-fourth, .bt-fifth {
        margin-bottom: 0.5rem;
        margin-left: 2rem;
    }
    .bt-sixth {
        align-items: center;
        justify-content: center;
    }
    .banner-img {
        width: 100vw;
        justify-content: center;
    }
    .banner-img img {
        width: 90vw;
    }


    /* gamer */
    .gamer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    .gamer-img {
        width: 80vw;
    }
    .gamer-content {
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
        width: 90vw;
    }
    .gamer-fourth {
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.75rem;
    }
    .gamer-fourth p:last-child {
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }


    /* online */
    .online-title {
        margin-top: 4.5rem;
    }
    .online-title > p {
        margin-bottom: 1.5rem;
    }
    .online-content {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .online-content .box img {
        margin-bottom: 0.5rem;
    }
    .online-content .box p {
        text-align: center;
    }



    /* instant */
    .instant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 120px 0;
    }
    .instant-content {
        width: 90vw;
    }
    .ic-heading {
        text-align: center;
    }
    .ic-text {
        text-align: center;
        margin: 1rem 0;
        line-height: 20px;
    }
    .instant-img-container {
        width: 60vw;
        justify-content: flex-end;
    }
    #littleImage {
        width: 118px;
        position: absolute;
        top: 160px;
        left: -50px;
    }
}